.nav-bar li{
  display: inline-block;
  padding: 15px;

}
.nav-bar{
  padding: 0px;
  margin: 0px;
  background-color: skyblue;
}
.nav-bar li a{
  text-decoration: none;
  color: white;
  font-size: 1.05rem;
  
  font-weight: 600;
}
.nav-bar li a:hover{
  color: red;
}
.footer{
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: skyblue;
  color: white;
}
.signup{
  margin-left: 500px;
}
.inputbox
{
    display: block;
    padding: 7px;
    margin: 25px;
    border: 2px solid orange;
    border-radius: 5px;
    width: 300px;
}
.signup h1{
margin-left:90px;
}
.btn{
  margin:25px;
  padding: 7px;
  width: 100px;
  background-color: skyblue;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: red;
  color: white;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 70px;
  
  float: left;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 20px;
}
.invalid-input{
  color: red;
  margin-left: 25px;
  display: block;
  margin-top: -2px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
 
}
.product-list ul li{
  display: inline-block;
  padding: 10px;
  border:1px solid skyblue;
  width: 150px;
}
.product-list ul{
  margin: 0px;
}